@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="bg-primary text-white p-3">
    <h1 class="text-center">
        <i class="bi bi-person-plus"></i> @ViewData["Title"]
    </h1>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 bg-white p-4 shadow-sm rounded">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h3 class="text-center">
                    <i class="bi bi-person-plus"></i> Create a new account
                </h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Name -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Your Name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <!-- Confirm Password -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Role -->
                <div class="form-floating mb-3" style="max-width: 100%;">
                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" aria-required="true" placeholder="Select a role">
                        <option value="" disabled selected>Select Role</option>
                    </select>
                    <label asp-for="Input.Role">Role</label>
                </div>

                <!-- Street Address -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" placeholder="123 Main St" />
                    <label asp-for="Input.StreetAddress">Street Address</label>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>

                <!-- City -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="City" />
                    <label asp-for="Input.City">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>

                <!-- State -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.State" class="form-control" aria-required="true" placeholder="State" />
                    <label asp-for="Input.State">State</label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>

                <!-- Postal Code -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="Postal Code" />
                    <label asp-for="Input.PostalCode">Postal Code</label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>

                <!-- Phone Number -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="Phone Number" />
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">
                    <i class="bi bi-person-plus"></i> Register
                </button>
            </form>
        </div>
    </div>
    <p class="divider-text">Or</p>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <section class="bg-secondary text-white p-4 shadow-sm rounded">
                <h3 class="text-center">Use another service to register</h3>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                <i class="bi bi-info-circle"></i> There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary w-100 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="bi bi-external-link"></i> @provider.DisplayName
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
