@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="bg-primary text-white p-3">
    <h3 class="text-center">@ViewData["Title"]</h3>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Navigation Links -->
            @inject SignInManager<IdentityUser> SignInManager
            @{
                var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
            }
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "Index") {
                    <text>bg-secondary text-white</text>
 }" id="profile" asp-page="./Index">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "Email") {
                    <text>bg-secondary text-white</text>
 }" id="email" asp-page="./Email">Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "ChangePassword") {
                    <text>bg-secondary text-white</text>
 }" id="change-password" asp-page="./ChangePassword">Password</a>
                </li>
                @if (hasExternalLogins)
                {
                    <li id="external-logins" class="nav-item">
                        <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "ExternalLogins") {
                    <text>bg-secondary text-white</text>
 }" asp-page="./ExternalLogins">External logins</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "TwoFactorAuthentication") {
                    <text>bg-secondary text-white</text>
 }" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "PersonalData") {
                    <text>bg-secondary text-white</text>
 }" id="personal-data" asp-page="./PersonalData">Personal data</a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="bg-primary p-4 shadow-sm rounded">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="background-color: #3a595c; padding: 1rem; border-radius: .25rem;" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-secondary">Update password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}