@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="bg-primary text-white p-3">
    <h3 class="text-center">
        <i class="bi bi-person-circle"></i> @ViewData["Title"]
    </h3>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Navigation Links -->
            @inject SignInManager<IdentityUser> SignInManager
            @{
                var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
            }
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "Index") {
                    <text>bg-secondary text-white</text>
 }" id="profile" asp-page="./Index">
                        <i class="bi bi-person-circle"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "Email") {
                    <text>bg-secondary text-white</text>
 }" id="email" asp-page="./Email">
                        <i class="bi bi-envelope-fill"></i> Email
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "ChangePassword") {
                    <text>bg-secondary text-white</text>
 }" id="change-password" asp-page="./ChangePassword">
                        <i class="bi bi-lock-fill"></i> Password
                    </a>
                </li>
                @if (hasExternalLogins)
                {
                    <li id="external-logins" class="nav-item">
                        <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "ExternalLogins") {
                    <text>bg-secondary text-white</text>
 }" asp-page="./ExternalLogins">
                                <i class="bi bi-box-arrow-in-right"></i> External logins
                            </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "TwoFactorAuthentication") {
                    <text>bg-secondary text-white</text>
 }" id="two-factor" asp-page="./TwoFactorAuthentication">
                        <i class="bi bi-shield-lock-fill"></i> Two-factor authentication
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) @if (ViewData["ActivePage"]?.ToString() == "PersonalData") {
                    <text>bg-secondary text-white</text>
 }" id="personal-data" asp-page="./PersonalData">
                        <i class="bi bi-file-person-fill"></i> Personal data
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <div class="bg-primary p-4 shadow-sm rounded">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="background-color: #3a595c; padding: 1rem; border-radius: .25rem;" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" placeholder="Please choose your username." />
                        <label asp-for="Username" class="form-label">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                        <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-secondary">
                        <i class="bi bi-save"></i> Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
